.registration, .login_container{
    border: 1px solid #dee2e6;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.w-100{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-img{
    background-image: url("https://cdn-blog.novoresume.com/articles/google-docs-resume-templates/bg.png");
    background-size: cover;
    background-position: center;
}

.register-img{
    background-image: url("https://cdn-blog.novoresume.com/articles/web-developer-resume/bg.png");
    background-size: cover;
    background-position: center;
}

.login-container-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: "space-between";
    width: 100%;
    height: 100vh;
}


.register-input-textbox{
    padding: 10px !important;
    border: 1px solid #dee2e6 !important;
    
}

/* input{
    padding: 8px !important;
} */

@media  (max-width:600px) {
    .login-img{
        
    display: none;
   
    }

    .login-container-main{
        display: flex;
        /* background-color: cadetblue; */
        color: red;
    }
}

/* @media (max-width:400px) {
    .login-img{
        
    display: none !important;
   
    }

    .login-container-main{
        display: flex;
    }
} */